<div class="col-xs-12 sort-box">
  <div class="col-xs-7 selection-text ">Sort Restaurant By:</div>
  <select class="col-xs-5 selection-box" ng-model="defaultSelected"
      ng-options="opt as opt.label for opt in options">
  </select>
</div>

<div class="col-xs-12 no-padding">
  <div ng-repeat="response in ApiResponse | orderBy:defaultSelected.value" class="media single-restaurant">
        <div class="media-body">
          <span class="restaurant-index">{{response.index}}</span>
          <h4 class="media-heading" id="top-aligned-media">{{response.name }}</h4>
          <p>{{response.vicinity}}</p>
          <div class="row">
            <span class="titles titles-marker">{{response.types[0] }}</span>
            <span class="titles titles-marker">{{response.price }}</span>
            <span class="titles ">{{response.distance }} miles</span>
          </div>
          <div class="row">
            <span class="titles titles-marker">{{response.rate }}
              <i ng-repeat="response in ApiResponse" class="icon-star"></i></span>
            <span class="titles">{{response.review}} Reviews</span>
          </div>
        </div>
        <div class="media-right">
            <img class="media-object" src="{{response.photos[0].photo_reference}}" data-holder-rendered="true" style="width: 100px; height: 100px;">
        </div>
  </div>
</div>
